@import 'bootstrap';

body {
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-secondary {
  color: #fff;

  background-color: #ea4cbd;
  border-color: #ea4cbd;
  transition: all 150ms ease;
  cursor: pointer;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #d848af;
  border-color: #ea4cbd;
}

.btn-secondary:focus,
.btn-secondary.focus {
  color: #fff;
  background-color: #d848af;
  border-color: #ea4cbd;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary{
  padding: 2px 6px;
}
// pink switch
.form-check-input:checked {
  background-color: #d848af;
  border-color: #ea4cbd;
}
/* Pink glow for switches and input fields */
.form-check-input:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(232, 72, 175, 0.5); /* Pink glow */
  border-color: #ea4cbd;
}
.form-check-input:checked {
  background-color: #d848af;
  border-color: #ea4cbd;
}
.form-switch .form-check-input:not(:checked):focus {
  background-position: left center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ea4cbd'/%3e%3c/svg%3e");
}

.App {
  min-height: 100vh;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0.01rem;
  margin-top: -0.1rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

.card-header {
  font-size: 1rem;
}

.nav-tabs .nav-link {
  color: black !important;
  text-decoration: none !important;
}

.nav-tabs .nav-link.active {
  color: black !important;
}